:root{
    --bg-color:#000000;
    --text-color:#ffffff;
    --primary-color:#ff0000;
    --secondary-color:#00ff00;
    --tertiary-color:#0000ff;
    --head-line-color:#ff00ff;
    --sub-lin-color:#00ffff;
    --shadow-color:#000000;
}